.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #c5cdf7; */
/* background: "linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)";
    background-color: #f0b0c0; */

  min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: calc(10px + 2vmin); 
color: rgb(18, 15, 19);
background: linear-gradient(to bottom, #776397 0%, #e3b2cb 100%);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
